header{
    background-color: #000080;
    min-height: 80px;
    max-width: 100%;
    width: 100%;
}

body{
    background-color: azure;
    display: block;
    justify-content: center;
    align-items: center;
    
}

#container{
    min-height: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button{
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    color: white;
    border-radius: 5px;
    border-color: white;
}

div{
    display: flex;
}

.container{
    display: flex;
    border:solid;
    border-color: #000080;
    width: auto;
    height: auto;
    margin: auto;
    flex-direction: column;
    
}


.flexRow{
    display:flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.flexCol{
    width: 50px;
    height: 50px;
    background-color: #000080;
}

.change{
    background-color: aqua;
}